# Project Group 5 - Long-term trends in travel behavior in the Netherlands

Members: 
Djura Beenen, Daan Boitelle, Marit van Wolffelaar, Lisa Franse en Jord Stubbé

Student numbers:
5403731, 5646057, 5615666, 5617553 en 4954734

Link to the GitHub repositorie: https://github.com/maritvw/projectgroup5

# Research Objective

Analyze how travel patterns, modal split, and mobility preferences in the Netherlands have evolved over the last decade, and to identify factors driving these changes.

Subquestion 1 trend analysis per modality: “How has the share of each mobility mode (car, public transport, cycling, walking) changed in the Netherlands between 2018 and 2023?”

Subquestion 2 regional differences: “How do mobility mode preferences differ across provinces (e.g., Randstad vs. non-Randstad regions)?”

Subquestion 3 travelgoal-specific trends: “How do mobility modes vary depending on travel purpose (work, education, leisure, shopping), and how have these changed over time?”

# Contribution Statement

For now, the data will be collected collectively. The division of tasks will take place after feedback has been received.

**Djura Beenen**:

**Daan Boitelle**:

**Marit van Wolffelaar**:

**Lisa Franse**:

**Jord Stubbé**:

# Data Used

The dataset from CBS StatLine provides detailed statistics on mobility patterns in the Netherlands. It includes data on the average number of trips, distance traveled, and time spent per person per day or year, categorized by mode of travel, purpose of travel, and region. This dataset is valuable for analyzing trends in transportation behavior across different provinces and for various travel purposes.
https://opendata.cbs.nl/statline/#/CBS/en/dataset/84710ENG/table?ts=1759132886441

# Data Pipeline

The data are obtained from CBS in the form of CSV files. Subsequently, the relevant subsets are filtered and processed using Python in order to generate visualizations. The analysis covers the period 2018–2023, and conclusions are drawn on the basis of the resulting plots.

In [3]:
# Import required libraries
import pandas as pd
import chardet
import os

In [11]:
# Detect encoding of the CSV file
file = 'per_person__travel_modes__travel_purpose_08102025_094303.csv'
with open(file, 'rb') as f:
    rawdata = f.read(100000)
    result = chardet.detect(rawdata)

print(result)

# Use the detected encoding to read the file
enc = result['encoding']

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [10]:
# Read the dataset with semicolon separator (common for Dutch CSV files)
df = pd.read_csv(file, encoding=enc, sep=';')

# Display basic info about the dataset
print("Dataset shape:", df.shape)
print("\nColumn names:")
print(df.columns.tolist())
print("\nFirst 5 rows:")
df.head()

Dataset shape: (6240, 9)

Column names:
['Travel motives', 'Population', 'Travel modes', 'Margins', 'Region characteristics', 'Periods', 'Average per person per year/Trips (number)', 'Average per person per year/Distance travelled    (passenger kilometres )', 'Average per person per year/Time travelled     (hours)']

First 5 rows:

,Travel motives,Population,Travel modes,Margins,Region characteristics,Periods,Average per person per year/Trips (number),Average per person per year/Distance travelled (passenger kilometres ),Average per person per year/Time travelled (hours)
0,Total,Population 6 years or older,Total,Value,The Netherlands,2018,1015.0,13200.0,"453,8"
1,Total,Population 6 years or older,Total,Value,The Netherlands,2019,989.0,13140.0,"452,6"
2,Total,Population 6 years or older,Total,Value,The Netherlands,2020,861.0,9105.0,378
3,Total,Population 6 years or older,Total,Value,The Netherlands,2021,915.0,9942.0,"424,9"
4,Total,Population 6 years or older,Total,Value,The Netherlands,2022,984.0,11027.0,"442,2"